<% content_for :title, "New photo" %>

<h1 class="heading">New photo</h1>

<%= render "form", photo: @photo %>

<br>

<div>
  <%= link_to "Back to gallery", photos_path, class: "button-link" %>
</div>
